* {
  margin: 0;
  padding: 0;  
}

body, html {
  width: 100%;
  height: 100%;
  background-image: url("cuadro.svg");
  background-repeat: repeat;
  font-family: 'Josefin Sans', sans-serif;
  
}
h1 {
  background-color: #DDE0E3;    /* Light gray */
}
#titulo {
  padding-top: 20px;
}
#canvas {
  display: block;
}