
    <nav class="navbar fixed-top navbar-dark bg-dark mb-4">      
        <div class="col-md-5 col-lg-5 col-xl-5">
          <a class="navbar-brand" href="#">TIGO - Reporte mensual de mesa de ayuda</a>
        </div>
        <div class="col-md-7 col-lg-7 col-xl-7">          
          <a class="btn btn-outline-info float-right ml-2" href="/upload">Carga de archivos</a>
          <a class="btn btn-outline-info float-right ml-2" href="/">Home</a>
        </div>
    </nav>
