
.btn {
    font-size: 0.6rem !important;
}
.table{ 
    font-size: 0.6rem !important;
}
.container {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.form-control {
    font-size: 0.6rem !important;
}
